UI menu.c32

prompt 0
menu title Debian Live __VERSION__

timeout 300

label Debian Live 3.14-2
menu label ^Debian Live 3.14-2-amd64 __VERSION__
menu default
kernel /live/vmlinuz1
append initrd=/live/initrd1 boot=live

label hdt
menu label ^Hardware Detection Tool (HDT)
kernel hdt.c32
text help
HDT displays low-level information about the systems hardware.
endtext

label memtest86+
menu label ^Memory Failure Detection (memtest86+)
kernel /live/memtest